@import '/styles/iconfont.wxss';
.topic-list{
  .topic-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32rpx 0 32rpx 16rpx;
    border-bottom: 1px solid #f6f6f6;
    &:nth-child(odd) {
      background: #f6f6f6;
    }
    .topic-item__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title{
        font-size: 30rpx;
        color: #3a3a3a;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
      }
      .tag{
        background: #7e68f3;
        padding: 4rpx 12rpx 4rpx 22rpx;
        color: #ffffff;
        font-size: 24rpx;
        border-radius: 32rpx 0 0 32rpx;
        flex: 0 0 auto;
        margin-left: 10rpx;
      }
    }
    .topic-item__desc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #666666;
      margin-top: 14rpx;
      padding-right: 12rpx;
      .level{
        font-size: 24rpx;
        display: flex;
        align-items: center;
        .van-rate__item{
          padding-right: 0!important;
          .van-rate__icon {
            color: var(--rate-icon-full-color,#ee0a24);
          }
        }
      }
      .time{
        font-size: 24rpx;
        color: #666666;
        display: flex;
        align-items: center;
        // text{
        //   margin-left: 20rpx;
        //   margin-right: 4rpx;
        // }
        // .iconfont{
        //   font-size: 24rpx;
        // }
      }
    }
  }
}
.loading-container{
  text-align: center;
  margin-top: 20rpx;
  line-height: 74rpx;
  font-size: 26rpx;
  color: #666666;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}