.resume-container{
  padding: 20rpx 10rpx 50rpx;
  background: #f6f6f6;
  .resume-list{
    display: flex;
    flex-wrap: wrap;
    .resume-item{
      width: calc(50% - 20rpx);
      margin: 0 10rpx 20rpx;
      image{
        width: 100%;
        border-radius: 20rpx;
        border: 1px solid rgb(0 0 0 / 10%);
        box-shadow: 0 4rpx 20rpx 0 rgb(0 0 0 / 10%);
        position: relative;
      }
      .text{
        display: flex;
        justify-content: space-between;
        .title{
          padding: 20rpx 20rpx 20rpx 0;
        }
        .download{
          padding: 20rpx 0 20rpx 20rpx;
        }
        .btn{
          border-radius: 60rpx;
          background: #9383ee;
          color: #fff;
          font-size: 24rpx;
          padding: 4rpx 16rpx;
        }
      }
    }
  }
}