
.home-page{
  padding-bottom: 100rpx;
  overflow: hidden;
  .swiper-item{
    width: 100%;
    height: 300rpx;
  }
  .home-module{
    display: flex;
    margin: 20rpx -15rpx 0;
    padding: 0 30rpx;
    .module-wrapper{
      width: 50%;
      margin: 0 15rpx;
      display: flex;
      flex-direction: column;
      padding: 40rpx 32rpx;
      border-radius: 16px;
      align-items: baseline;
      position: relative;
      overflow: hidden;
      &.bg1{
        background: #7e68f3;
      }
      &.bg2{
        background: #6578f4;
      }
      .title{
        font-size: 32rpx;
        color: #ffffff;
        font-weight: bold;
      }
      .btn{
        margin-top: 32rpx;
        padding: 4rpx 20rpx;
        font-size: 26rpx;
        color: #ffffff;
        border-radius: 16px;
        border: 1px solid #fff;
        position: relative;
        z-index: 1;
      }
      .icon-wrapper{
        position: absolute;
        right: 20rpx;
        top: 20rpx;
        background: rgba($color: #ffffff, $alpha: 0.5);
        width: 78rpx;
        height: 78rpx;
        border-radius: 50%;
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: center;
        .iconfont{
          font-size: 46rpx;
        }
        .icon-yuandianda{
          animation: animationSize 1.2s ease-out;
          animation-delay: 0.1s;
          animation-iteration-count: infinite;
          margin-left: -1rpx;
          margin-top: -1rpx;
        }
      }
      &::before{
        content: '';
        position: absolute;
        bottom: -110rpx;
        left: -80rpx;
        width: 600rpx;
        height: 160rpx;
        border-radius: 50%;
        transform: rotate(15deg);
      }
      &::after{
        content: '';
        position: absolute;
        bottom: -80rpx;
        left: -80rpx;
        width: 600rpx;
        height: 160rpx;
        border-radius: 50%;
        transform: rotate(-8deg);
      }
      &.bg1::before,
      &.bg1::after{
        background: rgba($color: #c2a6f9, $alpha: 0.5);
      }
      &.bg2::before,
      &.bg2::after{
        background: rgba($color: #8daaf1, $alpha: 0.5);
      }
    }
  }
  .home-container{
    .hc-title{
      padding: 0 36rpx 0 40rpx;
      line-height: 100rpx;
      position: relative;
      display: flex;
      align-items: center;
      &::before{
        position: absolute;
        content: '';
        left: 22rpx;
        top: 50%;
        transform: translateY(-50%);
        width: 8rpx;
        background-color: #7e68f3;
        height: 30rpx;
        border-radius: 8rpx;
      }
      .search-wrap{
        margin-left: 40rpx;
        flex: 1;
        .search-input{
          border-radius: 32rpx;
          height: 64rpx;
          width: 100%;
          background: #f6f6f6;
          display: flex;
          align-items: center;
          padding-left: 20rpx;
          color: #999999;
          box-sizing: border-box;
          .iconfont{
            margin-right: 12rpx;
          }
        }
      }
    }
    .hc-navs{
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #f9f9f9;
      border-left: 1px solid #f9f9f9;
      .nav-item{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;
        padding: 30rpx 0;
        box-sizing: border-box;
        .iconfont{
          font-size: 60rpx;
        }
        .text{
          margin-top: 20rpx;
          font-size: 30rpx;
          color: #3d3c3c;
        }
      }
    }
  }
  @keyframes animationSize {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
}