.study-container{
  padding-bottom: 60rpx;
  .study-list{
    .study-item{
      display: flex;
      padding-left: 20rpx;
      overflow: hidden;
      &:last-child{
        border-bottom: none;
      }
      .sui-image{
        width: 110rpx;
        height: 110rpx;
        background: #7e68f3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        flex: 0 0 auto;
        position: relative;
        margin-top: 20rpx;
        .image-bg{
          position: absolute;
          width: 110rpx;
          height: 110rpx;
          left: 0;
          top: 0;
          overflow: hidden;
          border-radius: 50%;
          &::before{
            position: absolute;
            content: '';
            left: -20rpx;
            bottom: -61rpx;
            width: 200rpx;
            height: 80rpx;
            border-radius: 50%;
            transform: rotate(-12deg);
            background: rgba($color: #c3b9fc, $alpha: 0.5);
          }
          &::after{
            position: absolute;
            content: '';
            left: -20rpx;
            bottom: -80rpx;
            width: 200rpx;
            height: 80rpx;
            border-radius: 50%;
            transform: rotate(32deg);
            background: rgba($color: #c3b9fc, $alpha: 0.5);
          }
        }
        .before{
          position: absolute;
          left: 50%;
          top: -1000rpx;
          width: 1px;
          background: #ededed;
          height: 1000rpx;
        }
        .after{
          position: absolute;
          left: 50%;
          bottom: -1000rpx;
          width: 1px;
          background: #ededed;
          height: 1000rpx;
        }
        .ch{
          text-shadow:rgb(0, 0, 0) 2px 4px 5px;
          letter-spacing: 1px;
          font-size: 22rpx;
          position: relative;
          z-index: 1;
        }
        .en{
          transform: scale(0.9);
          text-shadow:rgb(0, 0, 0) 1px 2px 3px;
          letter-spacing : -1px;
          font-weight: 100;
          font-family: Times;
          font-size: 18rpx;
          margin-top: -4rpx;
          position: relative;
          z-index: 1;
        }
      }
      .sui-content{
        margin-left: 20rpx;
        flex: 1;
        // border-bottom: 1px solid #efefef;
        padding: 20rpx 20rpx 20rpx 0;
        .title{
          font-size: 30rpx;
          color: #3a3a3a;
          font-weight: bold;
        }
        .get-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 14rpx;
          .has-brought{
            font-size: 24rpx;
            color: #666666;
            flex: 0 0 auto;
          }
          .btns{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            button{
              height: 54rpx;
              border-color: #ffffff;
              color: #7e68f3;
              min-width: 40rpx;
              font-size: 28rpx;
              font-weight: bold;
            }
            .van-button::before{
              background-color: transparent;
              border: none!important;
            }
          }
        }
      }
      &:first-child .before,
      &:last-child .after{
        display: none!important;
      }
    }
  }
  .loading-container{
    text-align: center;
    margin-top: 20rpx;
    line-height: 74rpx;
    font-size: 26rpx;
    color: #666666;
    .loading{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}