@import '/styles/iconfont.wxss';
.bug-popup{
  .bug-popup-body{
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .bug-popup-title{
    line-height: 100rpx;
    text-align: center;
    font-size: 32rpx;
    flex-shrink: 0;
  }
  .bug-popup-container{
    flex: 1 1 auto;
    overflow-y: scroll;
    min-height: 88rpx;
    .bug-msg__list{
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      box-sizing: border-box;
      padding: 32rpx 16rpx 0;
      .bug-msg__item{
        border-radius: 8rpx;
        background: #eaeefd;
        padding: 12rpx 20rpx;
        color: rgba($color: #4e6ef2, $alpha: .8);
        margin: 0 16rpx 32rpx;
        font-size: 28rpx;
        font-weight: 500;
        &.is-active{
          color: #fff;
          background: #a6b7f5;
        }
      }
    }
    .bug-textarea{
      padding: 0 32rpx;
      .textarea{
        width: 100%!important;
        background: #efefef;
        padding: 32rpx;
        box-sizing: border-box;
        color: #666666;
        border-radius: 8rpx;
      }
      .place-holder{
        color: #adacac;
      }
    }
    .bug-img-uploader{
      padding: 32rpx 32rpx 0;
      .bug-uploader__upload{
        align-items: center;
        background-color: #f7f8fa;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 16px 16px 0;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 8rpx;
        overflow: hidden;
        .icon{
          font-size: 52rpx;
          color: #dddedf;
        }
        text{
          font-size: 26rpx;
          margin-top: 12rpx;
          color: #b7b8b9;
        }
      }
    }
  }
  .bug-popup-footer{
    padding: 24rpx 32rpx;
    flex-shrink: 0;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    button{
      width: 100%;
      height: 80rpx;
      font-size: 30rpx;
    }
  }
}