@import '/styles/iconfont.wxss';
.vip-popup{
  .vip-popup-body{
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .vip-popup-title{
    line-height: 100rpx;
    text-align: center;
    font-size: 32rpx;
    flex-shrink: 0;
  }
  .vip-popup-container{
    flex: 1 1 auto;
    overflow-y: scroll;
    min-height: 88rpx;
    .vip-list{
      padding: 0 28rpx;
      display: flex;
      flex-direction: column;
      .vip-item{
        border-radius: 32rpx;
        background: #f6f6f6;
        display: flex;
        align-items: center;
        color: #999999;
        font-size: 24rpx;
        padding: 30rpx;
        margin-bottom: 24rpx;
        .vip-item__left{
          display: flex;
          flex-direction: column;
          width: 160rpx;
          align-items: center;
          justify-content: center;
          .vip-item__left-icon{
            width: 70rpx;
            height: 70rpx;
            background: #fff;
            border-radius: 20rpx;
            display: flex;
            .iconfont{
              font-size: 50rpx;
              color: #f1f1f1;
              margin: auto;
            }
          }
          .vip-item__left-text{
            margin-top: 12rpx;
            font-size: 26rpx;
          }
        }
        .vip-item__center{
          display: flex;
          flex-direction: column;
          padding-right: 40rpx;
          padding-left: 40rpx;
          .vip-item__center-title{
            font-weight: bold;
            font-size: 32rpx;
          }
          .vip-item__center-desc{
            margin-top: 10rpx;
            line-height: 36rpx;
          }
        }
        .vip-item__right{
          display: flex;
          flex-direction: column;
          width: 220rpx;
          .vip-item__right-price{
            font-size: 28rpx;
            margin-top: -22rpx;
            text{
              font-weight: bold;
              font-size: 40rpx;
            }
            .unit{
              font-size: 22rpx;
              margin-left: 4rpx;
            }
          }
          .vip-item__right-bless{
            margin-top: 0;
            line-height: 36rpx;
          }
        }
        &.is-active{
          background: linear-gradient(#9382f0, #7e68f3);
          color: #fff;
          position: relative;
          overflow: hidden;
          &::before{
            position: absolute;
            content: '';
            left: 0;
            bottom: -40rpx;
            background: rgba($color: #c2a6f9, $alpha: 0.5);
            width: 100rpx;
            height: 50rpx;
            border-radius: 50%;
            transform: rotate(22deg);
          }
          &::after{
            position: absolute;
            content: '';
            right: 0;
            bottom: -44rpx;
            background: rgba($color: #c2a6f9, $alpha: 0.5);
            width: 130rpx;
            height: 50rpx;
            border-radius: 0 100rpx 100rpx 0;
            transform: rotate(10deg);
          }
          .dos{
            position: absolute;
            width: 44rpx;
            height: 44rpx;
            border-radius: 50%;
            background: rgba($color: #c2a6f9, $alpha: 0.5);
            left: 50%;
            bottom: 20rpx;
          }
          .iconfont{
            color: #7e68f3!important;
          }
        }
      }
    }
    .vip-notice{
      padding: 0 30rpx;
      font-size: 26rpx;
      color: #999999;
      .vip-notice__title{
        color: #333333;
        font-weight: bold;
      }
      .vip-notice__wrapper{
        margin-top: 8rpx;
        line-height: 38rpx;
      }
    }
  }
  .vip-popup-footer{
    padding: 24rpx 32rpx;
    flex-shrink: 0;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    button{
      width: 100%;
      height: 80rpx;
      font-size: 30rpx;
    }
  }
}