@import '/styles/iconfont.wxss';
.loading-container{
  text-align: center;
  margin-top: 20rpx;
  line-height: 74rpx;
  font-size: 26rpx;
  color: #666666;
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .more-text{
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont{
      margin-right: 8rpx;
    }
  }
}