/* components/permissions-view/index.wxss */
.permissions-view{
  .none-permissions{
    padding-top: 40rpx;
    padding-left: 20rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    button{
      height: 76rpx;
      line-height: 76rpx;
      font-size: 30rpx;
      background: #4e6ef2;
      margin-top: 30rpx;
      margin-left: 0;
    }
    .button-hover{
      background: #4a65d2;
    }
  }
}