.group-container{
  background: #f6f6f6;
  padding: 20rpx;
  min-height: 100vh;
  box-sizing: border-box;
  .gruop-wrapper{
    border-radius: 20rpx;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28rpx;
    color: #333333;
    padding: 36rpx;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    .text{
      font-size: 28rpx;
      line-height: 70rpx;
    }
    image{
      width: 288rpx;
      height: 288rpx;
    }
    .changan{
      font-size: 28rpx;
      margin-top: 38rpx;
      color: #ff3d3d;
      text-align: center;
    }
  }
  .ad{
    margin-top: 20rpx;
  }
}