.my-container{
  height: 100vh;
  background: #f6f6f6;
  .userinfo-wrapper{
    background: #7e68f3;
    position: relative;
    overflow: hidden;
    padding-top: 10rpx;
    margin-top: -28rpx;
    .userinfo{
      display: flex;
      padding-bottom: 40rpx;
      padding-left: 20rpx;
      position: relative;
      z-index: 1;
      .bg{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.5;
      }
      .userinfo-avatar {
        width: 150rpx;
        height: 150rpx;
        margin: 20rpx;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        position: relative;
        &::before{
          position: absolute;
          left: 0;
          top: 0;
          width: 150rpx;
          height: 150rpx;
          content: '';
          border: 1px solid #ffffff;
          border-radius: 50%;
          z-index: 2;
          box-sizing: border-box;
        }
        .icon-vip-show{
          position: absolute;
          top: -18rpx;
          right: 10rpx;
          color: #dcb86c;
          transform: rotate(32deg);
          font-size: 40rpx;
        }
        .image{
          width: 150rpx;
          height: 150rpx;
          border-radius: 50%;
          position: relative;
          z-index: 1;
        }
        .nologin{
          width: 150rpx;
          height: 150rpx;
          border-radius: 50%;
        }
      }
      .userinfo-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        view{
          color: #ffffff;
        }
        .nickname{
          font-size: 38rpx;
          font-weight: bold;
          display: flex;
          align-items: center;
          .name{
            max-width: 380rpx;
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow: hidden;
          }
          .tag{
            border-radius: 12px;
            padding: 2rpx 20rpx;
            font-size: 22rpx;
            border: 1rpx solid #6b3e10;
            background: #f2ddb5;
            color: #6b3e10;
            margin-left: 10rpx;
            .iconfont{
              font-size: 28rpx;
            }
          }
        }
        .desc{
          margin-top: 10rpx;
          font-size: 30rpx;
        }
        .number{
          margin-top: 8rpx;
          font-size: 28rpx;
          display: flex;
          align-items: center;
          .icon-fuzhi{
            margin-left: 4rpx;
          }
        }
        .no-tag{
          background: #fff;
          color: #7e68f3;
          font-size: 26rpx;
          padding: 2rpx 14rpx;
          border-radius: 60rpx;
        }
      }
    }
    &.is-vip .userinfo-avatar{
      margin-top: 32rpx!important;
      &::before{
        border: 2px solid #dcb86c!important;
      }
    }
  }
  .group-container{
    overflow: hidden;
    margin-top: -30rpx;
    position: relative;
    z-index: 1;
    padding: 20rpx 0 40rpx 0;
    background: #f6f6f6;
    .vip-wrapper{
      background: #f2ddb5;
      border-radius: 20rpx 20rpx 0 0;
      margin: 0 20rpx 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16rpx 30rpx;
      .tit{
        font-size: 30rpx;
        color: #6b3e10;
        font-weight: bold;
        .vip{
          font-size: 34rpx;
          font-style: oblique;
          font-family: Georgia, serif;
          margin-right: 2rpx;
        }
      }
      .desc{
        font-size: 22rpx;
        color: #6b3e10;
      }
      .vip-btn{
        background: #2d2d2f;
        border-radius: 60rpx;
        color: #f2ddb5;
        padding: 8rpx 30rpx;
      }
    }
    .cell-groip{
      margin: 20rpx 20rpx;
      border-radius: 20rpx;
      background: #ffffff;
      overflow: hidden;
      button{
        display: flex;
        align-items: center;
        border-bottom: 1rpx solid #efefef;
        background: #fff;
        line-height: 1;
        text-align: left;
        padding: 0;
        border-radius: 0;
        &::after{
          display: none;
        }
        &:last-child{
          border-bottom: none;
        }
        .text-icon{
          flex: 1;
          display: flex;
          align-items: center;
          .iconfont{
            font-size: 38rpx;
            margin-right: 20rpx;
          }
          .text{
            color: #333333;
            font-size: 30rpx;
          }
        }
        .is-link{
          flex: 0 0 auto;
          .van-icon{
            color: #999999;
            font-size: 34rpx;
          }
        }
      }
      .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 32rpx 24rpx 32rpx 32rpx;
        position: relative;
        .integral{
          color: #ed6a0c;
          font-size: 28rpx;
          position: absolute;
          right: 70rpx;
        }
      }
      &.cell-groip-top{
        margin-top: 0;
      }
    }
    .more{
      text-align: center;
      margin-top: 30rpx;
      text{
        font-size: 24rpx;
        color: #999999;
      }
    }
  }
  .give-a-reward{
    background: #f2ddb5;
    color: #6b3e10;
    font-weight: 500;
    width: calc(100% - 40rpx);
    line-height: 76rpx;
    height: 76rpx;
    font-size: 30rpx;
    border-radius: 60rpx;
    margin: 0 20rpx;
    text-align: center;
  }
}
.my-popup{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0!important;
  button{
    border-radius: 64rpx;
    height: 76rpx;
    width: 300rpx;
  }
}