@font-face {
  font-family: "iconfont"; /* Project id 3316631 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3316631_1v9r43ok2p7.woff2?t=1649578481810') format('woff2'),
       url('//at.alicdn.com/t/font_3316631_1v9r43ok2p7.woff?t=1649578481810') format('woff'),
       url('//at.alicdn.com/t/font_3316631_1v9r43ok2p7.ttf?t=1649578481810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingnengyouhua:before {
  content: "\e68e";
}

.icon-es6:before {
  content: "\e678";
}

.icon-qianduananquan:before {
  content: "\e61b";
}

.icon-shejimoshe:before {
  content: "\e61a";
}

.icon-quanbu:before {
  content: "\e609";
}

.icon-vuejs:before {
  content: "\e799";
}

.icon-nodejs:before {
  content: "\e7a4";
}

.icon-gongju:before {
  content: "\e622";
}

.icon-daixuanze:before {
  content: "\e63c";
}

.icon-suanfa:before {
  content: "\e607";
}

.icon-reactjs:before {
  content: "\e689";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-jisuanjijichu:before {
  content: "\e761";
}

.icon-css:before {
  content: "\e601";
}

.icon-html:before {
  content: "\e618";
}

.icon-javascript:before {
  content: "\e633";
}

.icon-leetcode:before {
  content: "\e60d";
}

.icon-quweiti:before {
  content: "\e743";
}

.icon-jisuanjiwangluo:before {
  content: "\e797";
}

.icon-gongchenghua:before {
  content: "\e7a5";
}

.icon-bianchengti:before {
  content: "\e62b";
}
