@font-face {
  font-family: "iconfont"; /* Project id 3316631 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3316631_dnsn4e0v45j.woff2?t=1649932615018') format('woff2'),
       url('//at.alicdn.com/t/font_3316631_dnsn4e0v45j.woff?t=1649932615018') format('woff'),
       url('//at.alicdn.com/t/font_3316631_dnsn4e0v45j.ttf?t=1649932615018') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fankui:before {
  content: "\e698";
}

.icon-guanyuwomen:before {
  content: "\e608";
}

.icon-shoucang:before {
  content: "\e65e";
}

.icon-fenxiang:before {
  content: "\e662";
}

.icon-zanshang:before {
  content: "\e841";
}

.icon-yuandianda:before {
  content: "\e75b";
}

.icon-aixin:before {
  content: "\e645";
}

.icon-vip:before {
  content: "\e642";
}

.icon-zengzhifuwu2:before {
  content: "\e69f";
}

.icon-xuexiwangke:before {
  content: "\e60b";
}

.icon-shouye1:before {
  content: "\e602";
}

.icon-wode2:before {
  content: "\f018";
}

.icon-xingnengyouhua:before {
  content: "\e68e";
}

.icon-es6:before {
  content: "\e678";
}

.icon-qianduananquan:before {
  content: "\e61b";
}

.icon-shejimoshe:before {
  content: "\e61a";
}

.icon-quanbu:before {
  content: "\e609";
}

.icon-vuejs:before {
  content: "\e799";
}

.icon-nodejs:before {
  content: "\e7a4";
}

.icon-gongju:before {
  content: "\e622";
}

.icon-daixuanze:before {
  content: "\e63c";
}

.icon-suanfa:before {
  content: "\e607";
}

.icon-reactjs:before {
  content: "\e689";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-jisuanjijichu:before {
  content: "\e761";
}

.icon-css:before {
  content: "\e601";
}

.icon-html:before {
  content: "\e618";
}

.icon-javascript:before {
  content: "\e633";
}

.icon-leetcode:before {
  content: "\e60d";
}

.icon-quweiti:before {
  content: "\e743";
}

.icon-jisuanjiwangluo:before {
  content: "\e797";
}

.icon-gongchenghua:before {
  content: "\e7a5";
}

.icon-bianchengti:before {
  content: "\e62b";
}
